@charset 'utf-8';

h1 {
    font-size: 5rem;
    color: #fc0;
    padding-bottom: 2rem;
}

.jumbotron {
    border: 1px solid rgba(190, 190, 190, 0.5);
    padding-top: 3rem;
    padding-bottom: 1rem;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(190, 190, 190, 0.5);
       -moz-box-shadow: 3px 3px 5px 0px rgba(190, 190, 190, 0.5);
            box-shadow: 3px 3px 5px 0px rgba(190, 190, 190, 0.5);
}

img {
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(190, 190, 190, 0.5);
       -moz-box-shadow: 3px 3px 5px 0px rgba(190, 190, 190, 0.5);
            box-shadow: 3px 3px 5px 0px rgba(190, 190, 190, 0.5);
}

.btn {
    margin-top: 1rem;
}
