<main>
    
<!--
    <div class="well">
        <pre>{{ celeb | json }}</pre>
    </div>
-->

    <div class="row">
        <div class="jumbotron">
            <img src="{{celeb.image}}" ng-style="{'width': '330px', 'height': '330px'}">
            <h1>{{celeb.name}}</h1>
            <p><strong>Born:</strong> {{celeb.year}}.</p>
            <p>{{celeb.bio}}</p>
            <p><strong>Net worth:</strong> {{celeb.worth | currency}}.</p>
        </div>
    </div>
    <div class="row">
        <a href="#/" class="btn btn-primary btn-lg">Back to Cards</a>
    </div>
</main>