<main>

<!--
    <div class="well">
        <pre>{{ data | json }}</pre>
    </div>
-->

    <div class="row">

        <div class="col-xs-6 col-lg-4 jumbotron" ng-repeat="celeb in data.celebs">
            <img src="{{celeb.image}}" ng-style="{'width': '265px', 'height': '265px'}">
            <h2>{{celeb.name}}</h2>
            <p><a class="btn btn-default" href="#/details/{{celeb.id}}" role="button">View details &raquo;</a></p>
        </div>
        <!--/.col-xs-6.col-lg-4-->

    </div>
    <!--/row-->
</main>